[submodule "Plugins/imgui"]
	path = Plugins/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Plugins/stb"]
	path = Plugins/stb
	url = https://github.com/nothings/stb
[submodule "Plugins/magic_enum"]
	path = Plugins/magic_enum
	url = https://github.com/Neargye/magic_enum
